<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Book keepeR SaaS</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Required Stylesheets -->
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome.css")
   
    @Scripts.Render("~/bundles/modernizr")

</head>


<body>
    <nav class="navbar navbar-default">


        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-header">

                <a href="#" class="navbar-brand">BookkeepeR</a>

            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>Daniel</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>Daniel ILYIN</strong></p>
                                        <p class="text-left small">soulcage@mail.ru</p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-primary btn-block btn-sm">Профiль</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

            <ul id="navbarList" class="nav nav-pills">
                <li id="homeNav">@Html.ActionLink("ГОЛОВНА", "Index", "Home")</li>
                <li id="purchaseNav">@Html.ActionLink("ПРИДБАННЯ", "Purchase", "Purchase")</li>
                <li id="sellingNav">@Html.ActionLink("РЕАЛIЗАЦIЯ", "Index", "Selling")</li>
                <li id="inventoryNav">@Html.ActionLink("УПРАВЛIННЯ ЗАПАСАМИ", "Index", "Inventory")</li>
                <li id="accountingNav">@Html.ActionLink("БУХГАЛТЕРIЯ", "Index", "Accounting")</li>
                <li id="personelNav">@Html.ActionLink("ПЕРСОНАЛ", "Index", "Personel")</li>

            </ul>

        </div><!--/.nav-collapse -->
    </nav>



    <div class="wrapper">
        @RenderBody()
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    




    @RenderSection("scripts", required: false)




    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });

        });

        $(".sidebar a").on("click", function () {
            $(".sidebar").find(".active").removeClass("active");
            $(this).parent().addClass("active");
        });

        $(function () {
            $("#navbar").find("li").children("a").each(function () {
                if ($(this).attr("href") === window.location.pathname) {
                    $(this).parent().addClass("navbar-default");
                }
            });

        });



    </script>



</body>
</html>

                 
 