@{
    ViewBag.Title = "Purchase Page";
}

<body>


    <!-- Sidebar Holder -->
    @Html.Partial("_PurchaseSideBar")

    <!-- Page Content Holder -->
    <div class="row" id="content" width="100%">


    </div>



</body>

<script src="../../Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

<script type="text/javascript">
    $(function () {
        $('#option1').click(function () {
            $.get('@Url.Action("GetInviceIn","Purchase")', function (data) {
                $('#content').replaceWith(data);
            });
        });

        $('#option2').click(function () {
            $.get('@Url.Action("GetInviceIn","Purchase")', function (data) {
                $('#content').replaceWith(data);
            });
        });

        $('#option3').click(function () {
            $.get('@Url.Action("GetInviceIn","Purchase")', function (data) {
                $('#content').replaceWith(data);
            });
        });

        $('#option4').click(function () {
            $.get('@Url.Action("GetInviceIn","Purchase")', function (data) {
                $('#content').replaceWith(data);
            });
        });

        $('#option8').click(function () {
            $.get('@Url.Action("GetPartners","Purchase")', function (data) {
                $('#content').replaceWith(data);
            });
        });


    });
</script>

